body{
    margin: 0;
}
nav {
    font-size: 100%;
    background: linear-gradient(to bottom, rgb(162, 156, 149), rgb(241, 228, 210)); /* Dark background for the navbar */
    color: #fff; /* Light text color */
    position: fixed;
    top: 0; /* Align to the top */
    width: 100%; /* Navbar width to cover the screen width */
    z-index: 1000; /* Ensure navbar is above other content */
}
nav ul {
    list-style-type: none; /* Remove default list styling */
    padding: 0;
    margin: 0;
    display: flex; /* Display list items in a row */
    justify-content: space-around; /* Even spacing between items */
    align-items: center; /* Vertically center items */
}

nav ul li {
    padding: 1% 2%; /* Add some padding around each link */
    display: flex;
}

li:nth-of-type(2):hover img{
    content: url("../media/jegyarak2.png");
    width: 20%;
}
li:nth-of-type(2) img{
    content: url("../media/jegyarak.png");
    width: 20%;
}
li:nth-of-type(3) img{
    content: url("../media/szolgaltatasok.png");
    width: 20%;
}
li:nth-of-type(3):hover img{
    content: url("../media/szolgaltatasok2.png");
    width: 20%;
}
li:nth-of-type(4) img{
    content: url("../media/sziv.png");
    width: 20%;
}
li:nth-of-type(4):hover img{
    content: url("../media/sziv2.png");
    width: 20%;
}
li:nth-of-type(5) img{
    content: url("../media/zaszlo.png");
    width: 20%;
}
li:nth-of-type(5):hover img{
    content: url("../media/zaszlo2.png");
    width: 20%;
}
li:nth-of-type(6) img{
    content: url("../media/zaszlo.png");
    width: 20%;
}
li:nth-of-type(6):hover img{
    content: url("../media/zaszlo2.png");
    width: 20%;
}

nav a {
    color: #fff; /* Light color for links */
    text-decoration: none; /* Remove underline from links */
    font-weight: bold; /* Optional: makes the links bold */
    padding: 15px 20px; /* Add some padding around each link */
}

/* Optional: change the link color on hover */
nav a:hover {
    color: #eeeeee; /* Lighter shade on hover */
}

/* Optional: Add a style for the current/active page link */
.nav-active {
    border-bottom: 2px solid #fff; /* Adds a bottom border to the active link */
}

body:nth-child(2){
    margin-top: 30px;
}